.home {
  padding: 10px 0;
  display: flex;
  justify-content: center;

  &_container {
    @media screen and (max-width: 1024px) {
      width: 90%;
    }
    width: 80%;
    max-width: 1000px;

    .sliders-header {
      margin: 0 auto;
      width: max-content;
      text-align: center;
      margin-bottom: 20px;

      h4 {
        margin: 0;
      }
      .color-input {
        width: 250px;
        cursor: text;
      }
      .color-submit {
        height: 30px;

        span {
          cursor: pointer;
        }
      }
    }

    .sliders {
      @media screen and (max-width: 1024px) {
        grid-template-columns: auto;
      }
      display: grid;
      column-gap: 40px;
      row-gap: 20px;
      grid-template-columns: 400px auto;
      align-items: center;

      .slider-header {
        display: flex;
        align-items: center;
        gap: 20px;

        h1 {
          flex: 0 0 120px;
          margin: 0;
        }
      }

      .prop {
        display: flex;
        h4 {
          margin: 0;
          flex: 0 0 30px;
        }
      }
    }
  }
}
