.home {
  padding: 10px 0;
  display: flex;
  justify-content: center;

  &_container {
    @media screen and (max-width: 1024px) {
      width: 90%;
    }
    width: 80%;
    max-width: 1000px;
    text-align: center;

    .title {
      margin: 20px 0;
    }

    .header {
      margin: 0 auto;
      width: max-content;
      margin-bottom: 20px;

      h4 {
        margin: 0;
      }
      .color-form {
        display: flex;
        align-items: center;
        gap: 5px;

        .color-input {
          width: 250px;
          cursor: text;
          background-color: #444;
          border: none;
          color: white;
          caret-color: white;

          &::placeholder {
            color: #888;
          }
        }
        .color-submit {
          height: 22px;
          color: black;
          background-color: white;
          padding: 0 10px;
          align-items: center;
          cursor: pointer;
          line-height: 1;
          font-weight: bold;

          span {
            cursor: pointer;
          }
        }
      }
    }

    .alpha-slider {
      margin-bottom: 20px;

      h4 {
        text-align: start;
        flex-basis: 70px;
      }
    }

    .sliders {
      @media screen and (max-width: 1024px) {
        grid-template-columns: auto;
      }
      text-align: start;
      display: grid;
      column-gap: 40px;
      row-gap: 20px;
      grid-template-columns: 400px auto;
      align-items: center;
    }
  }
}
